@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-display: 'Outfit', 'sans-serif';
	--color-primary-1: #d77a61;
	--color-primary-2: #d8b4a0;
	--color-primary-3: #dbd3d8;
	--color-background: #eff1f3;
	--color-text: #223843;
	--breakpoint-print: 'print';
	--animate-ripple: ripple 2s ease-out infinite;

	@keyframes ripple {
		0% {
			box-shadow: 0 0 0 0 var(--color-text);
		}
		70% {
			box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
		}
		100% {
			box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
		}
	}
}

@layer base {
	body {
		@apply bg-background text-text px-8 lg:px-40 font-display antialiased pt-24 pb-10;
	}
}

@layer utilities {
	::selection {
		@apply bg-primary-1 text-text;
	}
}
