---
import Navbar from "./Navbar.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang="postcss" is:global>
  body {
    @apply bg-background text-text scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary lg:px-40;
  }

  ::selection {
    @apply bg-primary text-background;
  }

  .scroll {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary scrollbar-thumb-rounded-full hover:scrollbar-thumb-primary;
  }
</style>
