---
interface Props {
  href?: string
}

const { href } = Astro.props
---

<>
  {
    href ? (
      <a
        href={href}
        rel="noreferrer"
        target="_blank"
        class="flex w-fit items-center gap-2 decoration-primary hover:underline">
        <slot />
      </a>
    ) : (
      <span class="flex items-center gap-2">
        <slot />
      </span>
    )
  }
</>
