---
const { pathname } = Astro.url
import clsx from 'clsx'
import { links } from '../utils/links'
---

<nav
	class='fixed top-0 left-0 z-50 flex h-16 w-full items-center justify-between bg-background/50 px-20 shadow-[0_1px_4px_0_#151517] backdrop-blur-[3px] select-none print:hidden'>
	<div class='flex items-center gap-4'>
		<a href='/' class='flex items-center justify-center gap-2'>
			<div
				class={clsx('flex items-center justify-center h-6 w-6 rounded-lg', {
					'animate-background bg-primary': pathname === '/',
					'border-2 border-text bg-background': pathname !== '/'
				})}>
				<div
					class={clsx('rotate-[30deg] rounded-full bg-background h-3 w-0.5', {
						'bg-background': pathname === '/',
						'bg-text': pathname !== '/'
					})}>
				</div>
			</div>
			<div class='text-xl font-bold'>
				<span
					class={clsx({
						'animate-color': pathname === '/'
					})}>
					diogo
				</span>
			</div>
		</a>
	</div>
	<div class='flex items-center gap-4'>
		{
			links.map(link => (
				<a
					href={link.pathname}
					class={clsx('text-lg hover:text-primary', {
						'text-primary': pathname === link.pathname
					})}>
					{link.name}
				</a>
			))
		}
	</div>
</nav>
